*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
P{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
#section-p1{
    padding: 4% 8%;
}
.section-m1{
    margin: 40px 0;
   }
body{
    width: 100%;
}
.header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E3E6F3;
    padding: 20px 80px;
    box-shadow:0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 4;

}
#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}
#navbar >li{
    margin: 0px 20px;
    list-style: none;
}
#navbar li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s linear ease-in;
}
#navbar li a:hover,#navbar li a.active{
    color: #088178;
    border-bottom: 3px solid #088178;
}
.mobileView{
    display: none;
}
.mobileView >i{
    color: black;
    font-size: 24px;
}
.fullscreen{
    position: absolute;
    margin-top: 83px;
    width: 20%;
    height: 1000%;
    background-color: rgba(30, 27, 27, 0.336);
    z-index: 10;
    display: none;
    transition: 0.8s linear ease-in;
}
.close{
    display: none;
    position: absolute;
    top: 35px;
    left: 30px;
    font-size: 30px;
}
.model{
    background-image: url(img/hero4.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:top -10% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.model h1{
    color: #088178;
}
.model button{
    background-image: url(img/button.png);
    font-size: 1rem;
    font-weight: 700;
    color:#088178;
    padding: 14px 80px 14px 65px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.features{
    padding:4% 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.f1{
    border: 1px solid #cce7de;
    border-radius: 4px;
    margin: 10px;
    width: 180px;
    padding: 20px 20px;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    
}
.f1 >h6{
    margin-top: 10px;
    font-size: 1.20rem;
    font-weight: 600;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color:#fddde4;
    padding: 5px;
}
#features .f1 img{
    width: 100%;
    margin-bottom: 10px;
}
.features .f1:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    transform: scale(1.20,1);
}
.features .f1:nth-child(2) h6{
    background-color: #cce7de;
}
.features .f1:nth-child(3) h6{
    background-color: #d1e8f2;   
}
.features .f1:nth-child(4) h6{
    background-color:#cdd4f8;
}
.features .f1:nth-child(5) h6{
    background-color:#f6dbf6;
}
.features .f1:nth-child(6) h6{
    background-color:#fff2e5;
}
.productClass{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.productdescr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productdescr p{
    font-size: 1.5rem;
}
.productClass .product{
    height: 450px;
    width: 300px;
    min-width: 300px;
    border: 1px solid #cce7de;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    cursor: pointer;
}
.productClass .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.product img{
    width: 92%;
    margin: 15px 10px 10px 14px;  
    border-radius: 15px;
}
.productClass .product .description{
    padding: 10px 0;
    margin-left: 5px;
    height: 31%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
}
.productClass .product .description span{
    color: #606063;
}
.productClass .product .description .stars{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
.productClass .product a i{
    font-size: 18px;
    color: white;
    background-color: #088178;
    border-radius: 100px;
    padding: 10px;
    margin-left: 240px;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/banner/b2.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
}
.banner h4{
    padding: 10px 0px;
    color: white;
}
.banner h2{
    color: #fff;
    padding: 10px 0px;
}
.banner span{
    color: rgba(240, 23, 23, 0.863);
}
.banner button{
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
}
.banner button:hover{
    background-color: #088178;
    color: #fff;
}
.newArrivals{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageBanner{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
     */
     flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
}
.banner1{
    min-width: 580px;
    /* width: 50%; */
    
    background-image: url(img/banner/b17.jpg);
    background-size: cover;
    margin: 20px 10px;
    padding: 7% 4%;
    cursor: pointer;
}
.buts{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: 0.4s ease;
}
.banner1:hover .buts{
    background-color: #088178;
    border: none;
}
.second{
    background-image: url(img/banner/b10.jpg);
}
.banner1>h2{
    color: #fff;
}
.banner1>p{
    color: #fff;
}
.banner1>h4{
    color: #fff;
}
.imagebox{
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
}
.box{
    width: 30%;
    height: 225px;
    padding: 80px 30px;
    background-image: url(img/banner/b7.jpg);
    background-size: cover;
    margin: 0px 2%;
}
.box> h4{
    font-size: 1.6rem;
    color: #fff;
}
.box> p{
    font-size: 18px;
    color: #fff;
}
.b2{
    background-image: url(img/banner/b4.jpg);
}
.b3{
    background-image: url(img/banner/b18.jpg);
}
.signUp{
    background-image: url("https://images.unsplash.com/photo-1552152974-19b9caf99137?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGFyayUyMHBhdHRlcm58ZW58MHx8MHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.text h2{
    color: #fff;
}
.text p{
    color: #fff;
    font-size: 1.2rem;
}
.text span{
    color: rgb(237, 237, 54);
}
.signUp .form .buts{
    background-color: #088178;
    color: white;
    border: 1px solid transparent;
    min-height: 2.587rem;
    min-width: 90px;
    font-size: 14px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}
.form{
    display: flex;
}
.form input{
    height: 2.587rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    margin: 0px;
    outline: none;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
footer span,a{
    color: black;
    margin:0px 2px;
    font-weight: 600;
}
footer a:hover,footer .secondCol p:hover{
    color: #088178;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.firstCol{
    margin-bottom: 25px;
}
.secondCol .forthCol{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 2px;
    margin-bottom: 25px;
}
.secondCol .forthCol h4{
    padding: 30px 0px;
}
.secondCol a{
    margin: 0px;
    text-decoration: none;
}
.copyright{
    text-align: center;
}



/* Shop Page */
.shopModel{
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 14px;
}
.shopModel h2,.shopModel p{
    color: white;
}
.pageInition{
    align-items: center;
    text-align: center;
}
.pageInition a{
    text-decoration: none;
    margin: 5px;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 20px;
    background-color: #088178;
    color: #fff;
}
.pageInition i{
    font-size: 15px;
}





/* ProductDetailPage */
.productdetail{
    display: flex;
    flex-wrap: wrap;
}
.imagesection{
    width: 400px;
    margin-top: 80px; 
}
.productDescription{
    margin-top: 90px;
    margin-left: 5%;
    width: 30%;
    line-height: 20px;
}
.productDescription h6{
    padding-top: 20px;
}
.productDescription select{
    display: block;
    padding:5px 10px;
    margin-bottom:10px;
}
.productDescription input{
    width: 50px;
    font-size: 20px;
    padding:5px;
}
.productDescription h3{
    padding:40px 0 20px 0;
}
.miniImages{
    display: flex;
    width: 100%;
}
.sliderImage{
    margin: 4px 4px 0px 4px;
    cursor: pointer;
}
.numBtn>.buts{
    background-color: #088178;
    cursor: pointer;
}
.productDescription h4{
    margin: 20px 0;
}
.productDescription span{
    font-size: 20px;
    line-height: 1rem;
    color: #606063;
}



/*Blog Page*/
.blogmodel{
    background-image: url("img/banner/b19.jpg");
}
.blog{
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.blogimg{
    width: 50%;
}
.blogimg img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.blogDes{
    margin-left: 20px;
}
.blogDes p{
    font-size: 20px;
}
.blogDes a{
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    margin-left: 50px;
}
.blog h1{
    position: absolute;
    left: 20px;
    top:-40px;
    font-size: 70px;
    color: #c9cbce;
    font-weight: 700;
    z-index: -10;
    
}




/* About Page */

.aboutmodel{
    background-image: url(img/about/banner.png);
}
.aboutimg{
    width: 50%;   
}
.aboutimg img{
    width: 100%;
    height: 400px;
}
.aboutDes{
    width: 40%;
    line-height: 25px;
}
.aboutblog{
    margin-bottom: 0px;
}
.videoSection{
    text-align: center;
}
.videoSection a{
    color: rgb(174, 20, 174);
}
.videoSection .video >video{
    width: 70%;
    border-radius: 20px;
}

/* Contact us */
.contactInfo{
    display: flex;
    align-items: center;
}
.contactmodel{
    background-image: url(img/about/banner.png);
}
.contactDetail{
    width: 50%;
}
.googleMap{
    width: 50%;
    overflow: hidden;
}
.contactDetail span,h3,strong,
.fontDetail span{
    line-height: 20px;
    padding: 20px 0;
    
}
.contactDetail .location li{
    margin-left: 40px;
    display: flex;
    align-items: center;
}
.contactDetail .location li >p{
    
    margin-left: 15px;
}
.formDetail .buts{
    background-color: #088178;
    
}
.formDetail .forminput{
    width: 65%;
}
.formDetail form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formDetail input,.formDetail textarea{
    padding: 12px 15px;
    outline: none;
    margin-bottom:20px;
    border: 1px solid #e1e1e1;
}
.formDetail .people div{
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}
.formDetail .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
.formDetail .people p{
    margin: 0;
    font-size: 15px;
    line-height: 20px;
}
.formDetail .people span{
    font-size: 20px;
    color: #1a1a1a;
}
.formDetail{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

/* Cart Page  */
.cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
.cart img{
    width: 70px;
}
.cart table td:nth-child(1){
    width: 70px;
}
.cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
.cart table td:nth-child(3){
    width:250px;
     text-align:center;
 }
 .cart table td:nth-child(4),
 .cart table td:nth-child(5),
 .cart table td:nth-child(6){
    width:150px;
     text-align:center;
 }
 .cart table td input{
     width:70px;
     padding: 5px 0px 5px 10px;
     font-size: 18px;
 }
 .cart table thead{
     border: 1px solid #e2e9e1;
     border-right: none;
     border-left: none;
 }
 .cart table thead td{
     font-weight: 700;
     text-transform: uppercase;
     font-size: 13px;
     padding: 18px 0px;
 }
 .cart table tbody tr td{
     padding-top: 15px;
 }
 .cart table tbody td{
    font-size: 18px;
}
.cartcoupen{
    display: flex;
}
.applycoupen{
    width: 50%;
}
.applycoupen >div{
    display: flex;
}
.applycoupen input{
    border: 1px solid #c9cbce;
    padding: 2px 15px;
    box-shadow: 5px 5px 8px  #c9cbce;
    width: 50%;
    outline: none;
    margin-right: 20px;
}
.applycoupen .buts,.subtotal .buts{
    background-color: #088178;
}
.subtotal{
    width: 50%;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #c9cbce;
}
.subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.subtotal table td{
    width: 50%;
    border: 1px solid #313331;
    padding: 10px;
    font-size: 13px;
}

/* Medium Screen Device*/
@media (max-width:780px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -300px;
        z-index: 100;
        height: 100vh;
        width:80%;
        position: fixed;
        background-color: #E3E6F3;
        box-shadow:0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0px 10px;
        transition: 0.4s ease;
        
    }
    .fullscreen{
        width: 100%;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #navbar.active{
        right: 0px;
    }
    .mobileView{
        display: inline-block;
    }
    .close{
        display: block;
    }
    .model{
        height: 70vh;
        padding: 0 80px;
        background-position: top 50px right 30%;
    }
    .features{
        justify-content: space-between;
    }
    .banner{
        height: 20vh;
    }
    .banner >h2{
        font-size: 28px;
    }
    .banner1{
        height: 30vh;
        min-width: 100%;
    }
    .imagebox{
        flex-wrap: wrap;
    }
    .box{
        margin-bottom: 20px;
        width: 100%;
    }     
    /*
    product detailpage*/
    .productdetail{
        flex-direction: column;
    }
    .imagesection{
        width: 100%;
         
    }
    .productDescription {
        width: 100%;
    }
    .videoSection .video >video{
        width: 100%;
        object-fit: cover;
        height: 70vh;
    }


    /*Contact Us Page*/
    .formDetail {
        padding: 40px;
    }
    .formDetail .forminput h2{
        font-size: 25px;
        line-height: 25px;
    }
    .formDetail .forminput{
        width: 50%;
    }
}
@media (max-width:477px) {
    .header{
        padding-left: 10px;
        /* margin-left:0px ; */
    }
    .model{
        background-position: top 80% ;
        padding: 0 20px;       
    }
    h2{
        font-size: 25px;
    }
    h1{
        font-size: 30px;
    }
    #section-p1{
        padding: 20px;
    }
    .features{
        justify-content: center;
    }
    .f1{
        align-items: center;
        margin: 15px 10px;
        width: 120px;
        height: 200px;
        overflow: hidden;
    }
    .f1 >img{
        margin-left: -40px;
    }
    .productdescr p {
        font-size: 1.2rem;
    }
    .banner{
        height: 30vh;
    }
    .banner>h2{
        font-size: 18px;
    }
    .imagebox{
        flex-wrap: wrap;
    }
    .box{
        width: 100%;
        margin-bottom: 15px;
    }
    .signUp{
        
        flex-wrap: wrap;
    }
    .text p{
        font-size: 15px;
    }
    .blog{
        display: flex;
        flex-direction: column;
    }
    .blogimg{
        width: 100%;
    }
    .blogDes{
        margin-left: 0;
    }
   .aboutDes{
       width: 100%;
   }
   /*Contact Page*/
   .contactInfo{
       display: flex;
       flex-direction: column;
   }
   .contactDetail {
    width: 100%;
}
   .googleMap{
       width: 100%;
   }
   
   .formDetail{
       flex-direction: column;
   }
   .formDetail .forminput{
    width: 100%;
}
.formDetail .people{
    margin-top: 40px;
}
}

